/* Do not change this file for this exercise*/

.first-item {
    background-color: white;
}

.second-item {
    background-color: white;
}

.third-item {
    background-color: white;
}

.grid-container {
    padding: 10px;
    background-color: beige;
}